<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 

<!-- <p *ngIf="user"> {{ user.email }} </p> -->
<div class="prodDetails">
  

  <div class="container">
      <div class="product">
        <div class="product-photo">
          <img src="{{theProduct.image1}}">
          <img src="{{theProduct.image2}}">
        </div>
        <div class="product-detail">
          <h1 class="product__title">{{theProduct.name}}</h1>
          <div class="product__price">{{theProduct.price}}</div>
          <input type="text" #quantity value="1">
          <div class="product__subtitle">{{theProduct.description}}</div>

          <a class="product__button" (click)="addToCart(theProduct, user)">
            <span>Add to cart</span>
            <span></span>
          </a>
        </div>
      </div>
    </div>

<Br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="py-5 bg-color" style="background-color: #f2c4b9;">
      <div class="theContainer">
        <p class="m-0 text-center text-brown">Copyright &copy; Tripple C'z 2018</p>
      </div>
      <!-- /.container -->
    </footer>

  