<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container" *ngIf="cartList.length > 0">
   <div class="card shopping-cart">
            <div class="card-header bg-light text-dark">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
           
                <a href="/index" class="btn btn-outline-info btn-sm pull-right">Continue Shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                    <!-- PRODUCT -->
                    <div class="row" *ngFor="let one of cartList">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" routerLink="/products/{{one._id}}"src="{{ one.image1 }}"alt="preview" width="120" height="80" style="padding-top: 7px">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong>{{ one.name }}</strong></h4>
                            <h3>
                                <small>{{ one.description }}</small>
                            </h3>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong>{{ one.price }} <span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus">
                                    <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                           size="4">
                                    <input type="button" value="-" class="minus">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button (click)="deleteFromCart(one)" type="button" class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- END PRODUCT -->
                    
                <div class="pull-right">
                    <a href="/index" class="btn btn-outline-secondary pull-right">
                        Continue Shopping
                    </a>
                </div>
            </div>
            <div class="card-footer">
                <!-- <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="made with love">
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-default" value="Use coupon">
                        </div>
                    </div>
                </div> -->
                <div class="pull-right" style="margin: 10px">
                    <a href="" class="btn btn-success pull-right">Checkout</a>
                    <div class="pull-right" style="margin: 5px">
                        Total price: <b>50.00€</b>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- <br><br><br><br><br><br><br><br><br>
<ul *ngIf="cartList.length > 0">
  <li *ngFor="let one of cartList">
    <h1>{{ one.name }}</h1>
    <img src="{{ one.image1 }}"> 
    <h6>{{ one.price }}</h6>
   <button (click)="deleteFromCart(one)" type="button"> Delete </button>
    </li>
</ul> -->

<!-- delete for clauds -->


<div *ngIf="cartList.length === 0">
<p>No products in your shopping cart.</p>
</div>


<!-- <div>

  <ul>
    <li *ngFor="let one of cartList">
      {{ one.name }}
      <img src="{{ one.image1 }}">  
      <h6>{{ one.price}}</h6>  
    </li>
  </ul>
</div> -->

<!-- <div data-ng-app="" data-ng-init="quantity=1;price=5">

  <h2>Cost Calculator</h2>
  
  Quantity: <input type="number" ng-model="quantity">
  Price: <input type="number" ng-model="price">
  
  <p><b>Total in dollar:</b> {{quantity * price}}</p>
  
  </div> -->


<br>
<br>
<br>
<br>
<br>
<br>





<footer class="py-5 bg-color" style="background-color: #f2c4b9;">
    <div class="container">
      <p class="m-0 text-center text-brown">Copyright &copy; Tripple C'z 2018</p>
    </div>
    <!-- /.container -->
  </footer>
