<br><br><br><br><br><br><br><br><br>
<ul *ngIf="cartList.length > 0">
  <li *ngFor="let one of cartList">
    <h1>{{ one.name }}</h1>
    <img src="{{ one.image1 }}"> 
    <h6>{{ one.price }}</h6>
   <button (click)="deleteFromCart(one)" type="button"> Delete </button>
    </li>
</ul>

<!-- delete for clauds -->


<div *ngIf="cartList.length === 0">
<p>No products in your shopping cart.</p>
</div>


<!-- <div>

  <ul>
    <li *ngFor="let one of cartList">
      {{ one.name }}
      <img src="{{ one.image1 }}">  
      <h6>{{ one.price}}</h6>  
    </li>
  </ul>
</div> -->

<!-- <div data-ng-app="" data-ng-init="quantity=1;price=5">

  <h2>Cost Calculator</h2>
  
  Quantity: <input type="number" ng-model="quantity">
  Price: <input type="number" ng-model="price">
  
  <p><b>Total in dollar:</b> {{quantity * price}}</p>
  
  </div> -->


<br>
<br>
<br>
<br>
<br>
<br>





<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tripple C'z 2018</p>
    </div>
    <!-- /.container -->
  </footer>
