<br><br><br><br><br><br><br><br><br>
<ul *ngIf="cartList.length > 0">
  <li *ngFor="let one of cartList">
    <h1>{{ one.name }}</h1>
    <img src="{{ one.image1 }}"> 
   <button (click)="deleteFromCart(one)" type="button"> Delete </button>
    </li>
</ul>

<div *ngIf="cartList.length === 0">
<p>No products in your shopping cart.</p>
</div>


<br>
<br>
<br>
<br>
<br>
<br>





<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tripple C'z 2018</p>
    </div>
    <!-- /.container -->
  </footer>
