img{
  width: 400px;
}

body, html {
  font-family: 'Bitter', serif;
}

.product-name {
  color: #f66049;
  font-family: 'Bitter', serif;
}
/* 
.cartRow{
padding: 2%;
} */

footer {
  font-family: 'Bitter', serif;
  font-size: 10px;
  position: relative;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}