@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}

/* nav{
  background-color:  #ffb3b3;
  border: #ff9999;
  width: 100%;

}

.theNav{
  display: flex;
  align-content: space-between;
}

.navbar-brand {
  justify-content: space-between;
}

.rightNav {
  /* display: flex; */
  /* justify-content: space-between; */

/* } */

/* body { padding-top: 80px; } */ 