.card {
  display: inherit;
  align-items: center;
  align-content: center;
  width: max-content;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
}

/* .theContainer {} */

.theColumn{
  padding-left: 20%;
}

.card-body {
  display: inherit;
  align-items: center;
  align-content: inherit;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 2vh;
  text-align: center;
}

.card-title{
  font-size: 2vh;
  text-align: center;
}

img {
  width:300px;
  height:450px;
}

body {
  font-family: 'Montserrat', sans-serif;
}


  /* .theProducts{
    overflow:scroll; */
/* 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
  /* } */


  /* .theProductImg {
    display: flex;
  align-items: center;
  flex-direction: column;
  }  */


