.theColumn{
  /* padding-left: 15%; */
  
}

.card {
  display: inherit;
  align-items: center;
  align-content: center;
  width: max-content;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
}


.card-body {
  display: inherit;
  align-items: center;
  align-content: inherit;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 2vh;
  text-align: center;
  background-color: transparent;
}

.prodCard{
  border: 0;
}

.card-title{
  font-size: 2vh;
  text-align: center;
  color: #f66049;
  font-family: 'Bitter', serif;
}

img {
  width:300px;
  height:450px;
}

body, html {
  font-family: 'Bitter', serif;
  background-color: #FAF7F4;
  background-repeat: cover;
}


.card{
background-color: #FAF7F4; 
}

.theProds{
  background-color: #FAF7F4;
  padding: 4%;
  align-content: center;
}

.theSearchBar{
  align-content: center;
}

.row{
  background-color: #FAF7F4;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}





  .theProducts{
    /* overflow:scroll; */
/* 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
    padding: 0;
  }


  /* .theProductImg {
    display: flex;
  align-items: center;
  flex-direction: column;
  }  */


