<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="header">
    <div class="top-left">
      <a class="branding">{{user.name}}</a>
      <p>welcome back babes</p>
    </div>
    <div class="top-right">
    <div class="item"><img class="image" src="../../assets/Images/User-profile.jpg"/></div>
  </div>
  </div>
  <div class="gallery">
  <div class="item">
       
    <div *ngIf="user">
    <p>Prefer easy check-out? 
      <br>Add a Payment Method:
    <p><button (click)="toggleForm()" type="button">Add a card </button>
  
      <div class="cardsForm" *ngIf = "isFormShowing">
          <div class="row">
            <aside >
          
          
          <article class="card">
          <div class="card-body p-5">
          <p> <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-visa.png"> 
            <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-mastercard.png"> 
             <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-american-ex.png">
          </p>
          
          
          <form role="form" >
          <div class="form-group">
          <label for="cname">Name on Card</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="cname"name="cardname" placeholder="Mary Jane Parker" [(ngModel)]="newCard.cardname">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
          
          <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
            </div>
            <input type="text" [(ngModel)]="newCard.cardnumber" class="form-control" name="cardNumber" placeholder="1111-2222-3333-4444">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
            <div class="form-group">
          <label for="adr">Address</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-address-card"></i></span>
            </div>
            <input type="text" [(ngModel)]="newCard.mailing_address" class="form-control" name="address" placeholder="Address" required="true">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
              <div class="form-group">
          <label for="city">City</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
            </div>
            <input type="text" [(ngModel)]="newCard.city" class="form-control" name="city" placeholder="City" required="true">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
              <div class="form-group">
          <label for="state">State</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
            </div>
            <input type="text" [(ngModel)]="newCard.state" class="form-control" name="state" placeholder="State" required="true">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
              <div class="form-group">
          <label for="zip">Zip</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
            </div>
            <input type="text" [(ngModel)]="newCard.zip" class="form-control" name="zip" placeholder="Zip Code" required="true">
          </div> <!-- input-group.// -->
          </div> <!-- form-group.// -->
          <div class="row">
              <div class="col-sm-8">
                  <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span> </label>
                    <div class="form-inline">
                      <select class="form-control" style="width:45%">
                    <option>MM</option>
                    <option>01 - January</option>
                    <option>02 - February</option>
                    <option>03 - March</option>
                  </select>
                        <span style="width:10%; text-align: center"> / </span>
                        <select class="form-control" style="width:45%">
                    <option>YY</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                      <input class="form-control" [(ngModel)]="newCard.cvv" name="cvv" type="text">
                  </div> <!-- form-group.// -->
              </div>
          </div> <!-- row.// -->
          <button class="subscribe btn btn-primary btn-block" type="button" (click)="addNewCard(newCard)"> Confirm  </button>
          </form>
          </div> <!-- card-body.// -->
          </article> <!-- card.// -->
          
          
            </aside> <!-- col.// -->
            <aside class="col-sm-6">
      
            </aside>
  </div>



        
        
    
        <!--container end.//--> 
  <!-- <form class="cardsForm"  *ngIf = "isFormShowing">
  <form class="cardsForm"  *ngIf = "isFormShowing">
      <label for="fname">Accepted Cards</label>
      <div class="icon-container">
        <i class="fa fa-cc-visa" style="color:navy;"></i>
        
        <i class="fa fa-cc-amex" style="color:blue;"></i>
        <i class="fa fa-cc-mastercard" style="color:red;"></i>
        <i class="fa fa-cc-discover" style="color:orange;"></i>
      </div>
      <label for="cname">Name on Card</label>
      <input type="text" id="cname" [(ngModel)]="newCard.cardname" name="cardname" placeholder="John More Doe">
      <br>
      <label for="ccnum">Credit card number</label>
      <input type="text" id="ccnum" [(ngModel)]="newCard.cardnumber" name="cardnumber" placeholder="1111-2222-3333-4444">
      <br>
      <label for="expmonth">Expiration</label>
      <input type="text" id="expmonth" [(ngModel)]="newCard.cardexp" name="cardexp" placeholder="September">
        <br>
          <label for="cvv">CVV</label>
          <input type="text" id="cvv" [(ngModel)]="newCard.cvv" name="cvv" placeholder="352">
          <br>
          <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
          <input type="text" id="adr"  [(ngModel)]="newCard.mailing_address" name="mailing_address" placeholder="542 W. 15th Street" required="required">
          <br>
          <label for="city"><i class="fa fa-institution"></i> City</label>
          <input type="text" id="city" [(ngModel)]="newCard.city" name="city" placeholder="New York" required="required">
          <br>
          <label for="state">State</label>
          <input type="text" id="state" [(ngModel)]="newCard.state" name="state" placeholder="NY" required="required">
          <br>
        <label for="zip">Zip</label>
        <input type="text" id="zip" [(ngModel)]="newCard.zip" name="zip" placeholder="10001" required="required">
      <br>
      <br>
      <button type="button" (click)="addNewCard(newCard)" >Submit</button>
      <br>
    </form> -->
    
  <div class="saved-cards">
      <h3>Your Saved Cards</h3>
      <div *ngFor="let oneCard of cardsList">
        <h3>Name: {{oneCard.name}}</h3>
        <h6>Credit Card Number: {{oneCard.cardnumber}}</h6>
        <h6>Exp: {{oneCard.cardexp}}</h6>
        <h6>CVV: {{oneCard.cvv}}</h6>
      </div>
  </div>
 

